    if <condition>:
        <if True statement>
    elif <condition>:
        <elif statement>
    else:
        <if_false statement>

    Simple If

In [2]:
a=5
b=7
    
if a==b:
    print(True)
else:
    print(False)

False

In [4]:
id=102
if id==101:
    print('Allowed')

    Nested If

we want to check if given no is positive, negative or 0

In [7]:
no = int(input())

In [8]:
if no >0:
    print('Positive')
else:
    if no==0:
        print('Zero')
    else:
        print('Negative')

150

    elif

In [11]:
day=input()

if day=='Sunday':
    print('Funday')
elif day=='Saturday':
    print('Day before Funday')
else:
    print('Boring/Work Day')

Boring/Work Day

    Elif - Ladder

    We want to give grade to the students
    95> A
    85> B
    75> C
    65> D
    FAIL

    Class A
        Student A
        Student B
    Class B 
        Student C
        Student D


    Class A
    Class B
    Class C
    Class D

In [5]:
marks=float(input())

grade='Fail'
if marks>95:
    grade='A'
elif marks>85:
    grade='B'
elif marks>75:
    grade='C'
elif marks>65:
    grade='D'
    
print(f'Someone got this {grade}')

Someone got this Fail

In [12]:
if 1==1:
    pass
    print('pass')

pass

    Control Statements
        Loop
            Infinity
            Repetative

        Initialization
        Condition
        Interation

        Types of loops
            while 
            for

    <initialization>
    while <condition>:
        <while condtion is true statements>
        <iteration>

In [16]:
no=10
while  no>1:
    print(no)
    no=no-1

10
9
8
7
6
5
4
3
2

    for <initialization> in <condition + iteration>:
        <for statements when condition is true>

    str[start_index:end_index:step]
    range(start_index,end_index,step)
    range(5)
        if giving one argument - end_index
        0 1 2 3 4
    range(1,5)
        1 2 3 4
    range(1,10,2)
        1 3 5 7 9

    select * from table
    where id in (1,2,3,4)

In [21]:
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [22]:
for i in range(1,5):
    print("Iteration",i)

Iteration 1
Iteration 2
Iteration 3
Iteration 4

    I want to print even nos between 0, 50

In [23]:
for i in range(0,50,2):
    print("i = ",i)

i =  0
i =  2
i =  4
i =  6
i =  8
i =  10
i =  12
i =  14
i =  16
i =  18
i =  20
i =  22
i =  24
i =  26
i =  28
i =  30
i =  32
i =  34
i =  36
i =  38
i =  40
i =  42
i =  44
i =  46
i =  48

  I want to print even nos between 0, 50

In [24]:
for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [25]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [26]:
for i in range(50,4,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [27]:
str = 'Welcome to Acciojob'

In [29]:
for i in str:
    print(i,end=' ')

W e l c o m e   t o   A c c i o j o b

In [30]:
len(str)

19

    range(19)- 0 1 - 18

In [33]:
for  i in range(len(str)):
    print(f'At {i} -> {str[i]}')

At 0 -> W
At 1 -> e
At 2 -> l
At 3 -> c
At 4 -> o
At 5 -> m
At 6 -> e
At 7 ->
At 8 -> t
At 9 -> o
At 10 ->
At 11 -> A
At 12 -> c
At 13 -> c
At 14 -> i
At 15 -> o
At 16 -> j
At 17 -> o
At 18 -> b

In [19]:
if 't' in str:
    print('True')

True

In [ ]:
if 't'=='W' or 't'=='e' or 't'=='l':
    pass
if 't'=='W'

In [20]:
if 1==2 or 1==3 or 1==5 or 1==1:
    print(True)

True

In [58]:
black_list_str='xyzmno'
chk_str='abcvdefklndbfgopxy'
most_wanted='v'

In [ ]:
for i in range(len(chk_str)):     
    print(f'{i} -> {chk_str[i]}')

In [ ]:
    select * from table 
    where id in (1)

In [66]:
for i in range(len(chk_str)):
    if chk_str[i] not in black_list_str and chk_str[i] not in most_wanted: 
        print(f'{i} => {chk_str[i]} -> Not Blacklisted')        
    elif chk_str[i] in black_list_str:        
        print(i, '=> ',chk_str[i],' -> Blacklisted')    
    elif chk_str[i]==most_wanted:
        break

0 => a -> Not Blacklisted
1 => b -> Not Blacklisted
2 => c -> Not Blacklisted

    Print odd no between 1 -50
        don't print those ordd no's which are multiple of 3
        i dont want to print any value if getting mutiple of 13

    Continue will skip the iteration
    break will break the loop which means it will come outside the loop

In [55]:
for i in range(1,50,2):
    if i % 3==0:
        continue
    elif i % 13 ==0:
        break
    print(i)
    
print('Outside the loop')

1
5
7
11
Outside the loop

In [69]:
2**6

64

In [70]:
a=int(input())
b=int(input())
lhs=(a+b)**3
rhs=a**3+b**3+3*a**2*b+3*a*b**2
print(lhs)
print(rhs)
if lhs==rhs:
	print('VERIFIED')
else:
	print('NOT VERIFIED')

729
729
VERIFIED